<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Ember-Sugar</a>
   </div>
   <ul class="nav navbar-nav">
     <li><a href="/leads">Leads</a></li>
     <li><a href="/insertlead">Add Lead</a></li>
     <li class="active"><a href="#">Delete Lead</a></li>
   </ul>
 </div>
</nav>


<h2 align ="center">Delete a lead</h2>
<div class = "container" align="center">
  <form>
  <br />
  <h4> Enter ID to delete</h4>
  {{input value=id placeholder="xx-xxxx-xxx-xxxx" required=true}}
  <br />
  <br />
  <button class="btn btn-primary" {{action 'deleteData'}}>Delete</button>
</form>
</div>
{{outlet}}
