<div width="200px" align="center" style="border-style: solid; border-width: 1px">
  <h2> Welcome! Please Login </h2>
  <br>Enter Username : {{input type = "text" placeholder = "Enter username" value = user}}
  <br>Enter Password : {{input type = "password" placeholder = "Enter password" value = pass}}
  <br><button class="btn btn-primary" {{action "submit"}}> Login </button>
</div>
{{outlet}}
